<div *ngIf="products.length === 0; else elseBlock" class="cart-container">
    <p>The cart is now empty, add new item to proceed.</p>
</div>

<ng-template #elseBlock>
    <div class="cart-container">
        <div class="cart-item-details">
            <ul *ngFor="let product of products">
                <app-cart-item [product]="product" (adjustCartItemEvent)="onAdjustCounter($event)"/>
            </ul>
            <p class="cart-total">Total: $ {{ total }}</p>
        </div>
        <form #form="ngForm" class="form-group" (ngSubmit)="onSubmit()">
            <div class="cart-input">
                <label>Full name</label>
                <br />
                <input class="form-control" [(ngModel)]="fullname" required type="text" minlength="3" placeholder="(minimum 3 characters)" name="text" />
                <div class="error-alert" *ngIf="fullname !== ''">
                    <p *ngIf="fullname.length < 3">
                        Fullname should be more than 3 characters.
                    </p>
                </div>
            </div>
            <div class="cart-input">
                <label>Address</label>
                <br />
                <input class="form-control" [(ngModel)]="address" required minlength="6" type="text" placeholder="(minimum 6 characters)" name="text" />
                <div class="error-alert" *ngIf="address !== ''">
                    <p *ngIf="address.length < 6">
                        Address should be more than 6 characters.
                    </p>
                </div>
            </div>
            <div class="cart-input">
                <label>Credit card number</label>
                <br />
                <input class="form-control" type="number" minlength="16" [maxLength]="16" required [(ngModel)]="creditCardNumber" placeholder="(16-digit number)" name="text" />
                <div class="error-alert" *ngIf="creditCardNumber !== ''">
                    <p *ngIf="creditCardNumber.toString().length !== 16">
                        Credit card should be with 16 characters.
                    </p>
                </div>
            </div>
            <p>We'll never share your payment details with anyone else.</p>
            <input type="submit" value="submit" [disabled]="form.invalid" class="btn btn-primary">
        </form>
    </div>
</ng-template>
